@import "~@newrelic/nr1-community/dist/index.css";

.primary-grid {
  grid-gap: 0;
  overflow: hidden;
  position: relative;
  height: calc(100% - 74px);
}

.primary-content-container {
  overflow: scroll;
  padding: 16px;

  &:first-child {
    padding-right: 0px;
  }
}

.primary-content {
  box-sizing: border-box;
  padding: 16px;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 11px 15px -10px rgba(31, 75, 116, 0.15),
    0 1px 3px 1px rgba(0, 134, 148, 0.03), 0 3px 0 0 rgba(0, 49, 54, 0.04),
    0 1px 0 0 rgba(0, 75, 82, 0.04);
  position: relative;
}
